.container{
 background-color: rgb(217, 217, 23);
 height: 500px;
 width: 400px;
 text-align: center;
}
.newClass{
   color: brown;
}
.newcontainer{
   background-color: pink;
}
.but{
   background-color: black;
   color: white;
}